 .flex {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .dark {
     background-color: black;
 }

 .light {
     background-color: rgb(135, 104, 164);
 }

 * {
     margin: 0;
     padding: 0;
     background-color: rgb(135, 104, 164);
     color: rgba(255, 255, 255, 0.84);
 }

 #page {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 #headingofgame {
     margin: 50px 0px 50px 0px;
     padding: 50px;
     padding-top: 0px;
     font-size: 45px;
 }

 .parentdiv {
     justify-content: space-evenly;
     padding: 0px 50px;
 }

 .parentscore {
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-content: space-between;
     font-size: 30px;
 }

 .logo {
     border: 2px solid black;
     margin: 50px;
     padding: 50px;
     font-size: 16px;
     color: black;
     border-radius: 100%;
     background-color: white;
 }

 .logo:hover {
     padding: 40px;
     border: 10px solid black;
 }

 #result {
     margin: 50px 0px;
     width: 25vw;
     border-radius: 50px;
     background-color: green;
     font-size: 20px;
     padding: 15px 80px;
 }

 .score {
     margin: 0px 5vw;
 }

 @media (max-width:1200px) {
     .logo {
         padding: 50px;
         margin: 25px;
     }

     .logo:hover {
         padding: 45px;
         border: 10px solid rgb(29, 21, 21);
     }

     #headingofgame {
         margin: 50px 0px 50px 0px;
         padding: 30px;
         font-size: 30px;
     }

     #result {
         font-size: 16px;
         padding: 15px 80px;
     }
 }

 @media (max-width:730px) {
     .logo {
         padding: 30px;
         margin: 25px;
     }

     .logo:hover {
         padding: 20px;
         border: 10px solid rgb(29, 21, 21);
     }

     #headingofgame {
         margin: 50px 0px 50px 0px;
         padding: 20px;
         font-size: 18px;
     }

     #result {
         font-size: 16px;
         padding: 10px 50px;
     }

     .parentscore {
         font-size: 20px;
     }

 }

 @media (max-width:600px) {
     .parentdiv {
         display: flex;
         flex-wrap: wrap;
         padding: 0;
         margin: 0;
     }

     #result {
         font-size: 12px;
         padding: 10px 80px;
     }
 }